.page {
  font-size: var(--main-font-size);
  font-family: var(--main-font-family), monospace;
  line-height: var(--main-line-height);
  background-color: var(--main-bg-color, #fff);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--bg-image);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--main-gap);
  align-items: center;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.header_rec {
  display: none;
  position: absolute;
  inset-inline-end: 28px;
  inset-block-start: 25px;
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color);
  right: 35px;
  top: 10px;
}

.header_rec::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
  left: 38px;
  top: 9px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  list-style-type: none;
  gap: var(--main-gap);
  font-family: var(--main-font-family), monospace;
}

.header__theme-menu-button {
  padding: 0 13px 0 13px;
  border: none;
  color: var(--nav-color);
  font-family: var(--main-font-family), monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  text-transform: lowercase;
  width: 70px;
  height: 26px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button:focus {
  border: none;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--nav-color);
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__title {
  color: var(--header-title-color);
  font-family: var(--main-font-family), monospace;
  font-size: var(--header-title-size);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  text-align: left;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-block-end: var(--main-gap);
  inset-inline-start: var(--main-gap);
}

.content {
  display: block;
  padding: 0 10px 0 10px;
  line-height: var(--main-line-height);
  font-size: var(--main-font-size);
}

.title-decor {
  color: var(--section-heading-color);
  background-color: var(--accent-color);
  font-size: var(--main-font-size);
}

.content__title {
  color: var(--section-heading-color);
  font-size: var(--main-font-size);
}

.main__content__title {
  color: var(--main-title-color);
  font-size: var(--main-font-size);
  margin-block-start: 40px;
  margin-block-end: 20px;
  max-inline-size: 315px;
} 

.content_card_title {
  font-size: var(--main-font-size);
  color: var(--section-heading-color);
  margin-block-start: 20px;
}

.content__card__text {
  color: var(--main-text-color);
  margin-block-start: 20px;
  margin-block-end: 20px;
}

.unit__subtitle {
  margin-block-end: 20px;
}

.link__word {
  color: var(--main-text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link__word:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.link__word:focus {
  outline: none;
}

.link__word:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.gallery__image {
  inline-size: 100%;
  padding-bottom: 10px;
}

.gallery--heading {
  margin-block-start: 50px;
  margin-block-end: 20px;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-start: 50px;
}

.footer__title {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: var(--footer-title-size);
  color: var(--footer-title-color);
  text-shadow: 2px 2px 0 0 var(--accent-color);
  block-size: 100vh;
}

@media (width >=768px) {
  .header {
    min-block-size: 1024px;
  }

  .header__title {
    justify-self: start;
  }

  .header__text {
    inline-size: 50%;
    justify-self: end;
  }

  .header_rec {
    right: 45px;
    top: 20px;
  }

  .content {
    padding: 0 20px 0 20px;
  }

  .main__section {
    margin-block-start: 80px;
    gap: var(--main-gap);
  }

  .main__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: row;
    justify-items: start;
  }

  .main__content__title {
    margin-block-start: 0;
    margin-block-end: 20px;
    max-inline-size: 236px;
  }

  .content__hormones {
    grid-column: 2;
  }

  .main__unit {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr min-content;
    grid-auto-flow: column;
  }

  .unit__title {
    grid-row: span 2;
    font-size: var(--main-font-size);
  }

  .unit__subtitle {
    grid-column: 2;
    margin-block-start: 0;
  }

  .unit__text {
    grid-column: 2;
    gap: var(--main-gap);
  }

  .gallery {
    block-size: 100%;
  }

  .gallery__images__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    gap: var(--main-gap);
  }

  .gallery__image {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery__image:first-of-type {
    grid-column: span 2;
    grid-row: 1;
  }

  .gallery__image:nth-of-type(2) {
    grid-row: span 2;
    grid-column: 3;
  }

  .gallery__image:nth-of-type(3) {
    grid-column: 1;
    grid-row: span 2;
  }

  .gallery__image:nth-of-type(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .gallery__image:nth-of-type(5) {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media (width >=1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-self: center;
  }

  .main__content__title {
    max-inline-size: 315px;
  }

  .main__block {
    display:grid;
    grid-template-rows: min-content 1fr;
  }

  .block__multi {
    grid-row: 2;
  }

  .block__food {
    grid-row: 2;
  }

  .block__gadgets {
    grid-row: 2;
  }

}
