.page {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
}

body {
  min-inline-size: 375px;
  max-inline-size: 1024px;
  margin: 0 auto;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family), monospace;
  line-height: var(--main-line-height);
  background-color: var(--main-bg-color, #fff);
}

.header {
  block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--main-gap);
  background-image: var(--bg-image);
}

.header_theme-menu {
  block-size: min-content;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.header_rec {
  display: none;
  position: absolute;
  inset-inline-end: 28px;
  inset-block-start: 25px;
  color: var(--accent-color);
  padding-right: 20px;
  padding-bottom: 20px;
}

.header_rec::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  filter: drop-shadow(0 0 4px var(--accent-color));
  left: 38px;
  top: 5px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  list-style-type: none;
  padding-block-start: 30px;
  gap: var(--main-gap);
  font-family: var(--main-font-family);
  margin-top: 40px;
}

.header__theme-menu-button {
  padding: 0 13px 0 13px;
  border: none;
  color: var(--nav-color);
  font-family: "IBM Plex Mono" Bold Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  text-transform: lowercase;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--nav-color);
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.header_title {
  margin: 0;
  color: var(--header-title-color);
  font-family: IBM Plex Mono;
  font-size: var(--header-title-size);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_text {
  align-self: center;
  justify-self: center;
  margin-top: 55px;
  color: var(--header-text-color);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  background-color: var(--accent-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-block-end: var(--main-gap);
  inset-inline-start: var(--main-gap);
}

.content {
  display: block;
  padding: 0 20px 0 20px;
  margin-top: 50px;
  line-height: var(--main-line-height);
  font-size: var(--main-font-size);
}

.title-decor {
  color: var(--section-heading-color);
  background-color: var(--accent-color);
  font-size: var(--main-font-size);
}

.content_title {
  color: var(--section-heading-color);
  font-size: var(--main-font-size);
}

.main_content_title {
  color: var(--main-title-color);
  font-size: var(--main-font-size);
}

.content_card_title {
  font-size: var(--main-font-size);
  block-size: 23px;
  color: var(--section-heading-color);
}

.content_card_text {
  color: var(--main-text-color);
}

.link_word {
  color: var(--main-text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link_word:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.link_word:focus {
  outline: 1px solid var(--main-text-color);
  border-bottom: none;
}

.link_word:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.main_block {
  margin-top: 50px;
}

.main_unit {
  margin-top: 50px;
}

.gallery {
  margin-top: 50px;
}

.gallery_image {
  inline-size: 100%;
  padding-bottom: 10px;
}

footer {
  block-size: 100vh;
}

.footer_title {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: var(--footer-title-size);
  color: var(--footer-title-color);
  min-block-size: 647px;
  margin-top: 50px;
  margin-bottom: 0;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >=768px) {

  .header_text {
    inline-size: 364px;
    justify-self: end;
  }

  .main_content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:var(--main-gap);
  }

  .main_content_title {
    max-inline-size: 236px;
  }

  .content_hormones {
    grid-column: 2;
  }

  .main_block {
    grid-template-rows: repeat(4, min-content);
  }

  .block_multi {
    grid-row: 2;
  }

  .block_food {
    grid-row: 3;
  }

  .block_gadgets {
    grid-row: 4;
  }

  .main_unit {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr min-content;
    gap:var(--main-gap);
  }

  .unit_title {
    grid-row: span 2;
    font-size: var(--main-font-size);
  }

  .unit_subtitle {
    grid-column: 2;
    align-self: end;
  }

  .unit_text {
    grid-column: 2;
  }

  .gallery {
    block-size: 100%;
  }

  .gallery_images_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--main-gap);
  }

  .gallery_image {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery_image:first-of-type {
    grid-column: span 2;
    grid-row: 1;
  }

  .gallery_image:nth-of-type(2) {
    grid-row: span 2;
    grid-column: 3;
  }

  .gallery_image:nth-of-type(3) {
    grid-column: 1;
    grid-row: span 2;
  }

  .gallery_image:nth-of-type(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .gallery_image:nth-of-type(5) {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  footer {
    block-size: min(768px);
  }

}

@media (width >=1024px) {

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .header_text {
    inline-size: 491px;
    justify-self: end;
  }

  .main_block {
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: var(--main-gap);
  }

  .main_content_title {
    grid-row: 1;
  }

  .block_multi {
    grid-row: 2;
  }

  .block_food {
    grid-row: 2;
  }

  .block_gadgets {
    grid-row: 2;
  }
  
  footer {
    block-size: min(1024px);
  }
  
}
